.header_categories_container {
  padding: 0 40px;
  display: flex;
  align-items: center;
  background-color: white;
  height: 80px;
  border-bottom: 1px solid var(--gray);
}

.header_categories_container .category_tabs {
  display: flex;
  align-items: center;
  overflow: auto;
  gap: 70px;
  scroll-behavior: smooth;
}

.header_categories_container .category_tabs::-webkit-scrollbar {
  display: none;
}

.header_categories_container .category_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50px;
}
.scroll_left_btn {
  padding-right: 20px;
  transition: 0.1s ease-in-out;
}
.scroll_right_btn {
  padding-left: 20px;
  transition: 0.1s ease-in-out;
}
.scroll_left_btn:hover,
.scroll_right_btn:hover {
  transform: scale(1.2);
}
.category_box {
  cursor: pointer;
}

@media (max-width: 744px) {
  .header_categories_container {
    padding: 0 0 0 20px;
  }
  .scroll_left_btn,
  .scroll_right_btn {
    display: none;
  }
  .header_categories_container .category_tabs {
    gap: 30px;
  }
}

/* .header-category {
    width: 100%;
    margin: 0 0 0 30px;
  }
  .category-right-btn,
  .category-left-btn {
    display: none;
  }
  .category-tabs {
    height: 60px;
  } */

/* header categories tab section */
/* .header-category {
    margin: 0 80px;
    width: 80%;
  }
  .header-category .category-tabs::-webkit-scrollbar {
    display: none;
  }
  .category-left-btn {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-right: 30px;
    background: linear-gradient(to right, white 30%, transparent);
  }
  .category-tabs{
    height: 100px;
  }
  .category-right-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 30px;
    background: linear-gradient(to left, white 30%, transparent);
  }
  
  .css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected{
    color: var(--accent) !important;
  }
  
  /* media queries */
/* @media (max-width: 992px) {
    .main-header {
      padding: 0 30px;
    }
    .header-category {
      margin: 0 30px;
    }
  }
  
  @media (max-width: 768px) {
    .airbnb-your-home {
      display: none;
    }
  }
  
  @media (max-width: 744px) {
    .main-header {
      display: none !important;
    }
    .mobile-header {
      display: block !important;
    }
    .header-category{
      width: 100%;
      margin: 0 0 0 30px;
    }
    .category-right-btn,.category-left-btn{
      display: none;
    }  
    .category-tabs{
      height: 60px;
    }
  } */
