.header_profile_container {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 12px;
  border: 1px solid var(--gray);
  border-radius: 20px;
  margin-left: 8px;
}

.user_avatar_section {
  line-height: 0;
  margin-left: 12px;
  font-size: 26px;
  cursor: pointer;
}

.loggedin_User_Avatar {
  height: 30px !important;
  width: 30px !important;
  background-color: black;
  border-radius: 50%;
}
