.login_container {
  width: 100dvw;
  height: 80dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login_form {
  width: 500px;
  margin-bottom: 30px;
}
.login_with_google_btn {
  width: 500px;
  margin-top: 30px;
}

.css-1w4vsez-MuiFormControl-root {
  margin: 0 !important;
}
