.single_property_wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.single_property_container {
  width: 80%;
}
.property_gallery {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.gallery_main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 12px;
}
.img_grid_item {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  object-fit: cover;
}
.all_photos_btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding: 6px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all_photos_btn span {
  font-weight: 600;
  margin-left: 4px;
}
.property_title {
  font-size: 18px;
  font-weight: 700;
}
.property_info {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  gap: 20px;
}
.property_reviews {
  display: flex;
  align-items: center;
  gap: 3px;
}

.title_info,
.prop_desc,
.property_amenities {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray);
}

.property_details {
  display: flex;

  padding: 40px 0;
}

.left_side {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.property_description {
  font-size: 14px;
  font-weight: 500;
}
.property_amenities,
.amenities_title {
  font-size: 16px;
  font-weight: 700;
}
.amenity_item {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 40px;
}

.right_side {
  width: 35%;
  margin-left: auto;
}

.reservation_section {
  margin-left: auto;
  border: 1px solid var(--gray);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.report_property {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  color: var(--dark-gray);
}

.report_property span {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}
