@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Nunito" !important;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --accent: #ff385c;
  --dark: #222;
  --gray: #ddd;
  --dark-gray: #717171;
  --bg-gray: #f7f7f7;
}

a {
  text-decoration: none;
  color: unset;
}

.location-container input::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-gray);
}
